body {
  font-family: "Poppins", sans-serif;
}

form {
  display: inline;
}

li {
  list-style: none;
}

i {
  display: inline;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
}

.border {
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

#search-bar-input {
  width: 60%;
  margin: 0 auto;
}

#search-button {
  background: #355691;
  color: #fff;
  border: none;
  border-radius: 10px;
}

#current-location-button {
  background: #007580;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: inherit;
  padding: 2.2px 10px;
}

.change-degree-unit {
  border-radius: 10px;
}

#current-date-time {
  padding: 0;
  margin-bottom: 0;
}

#weather-image {
  width: 80px;
  display: inline;
  position: relative;
  top: -15px;
}
#current-temperature strong {
  font-size: 65px;
  font-weight: 400;
  line-height: 1;
  display: inline;
}

#temperature-conversion {
  font-size: 15px;
  position: relative;
  top: -36px;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: black;
}

#celsius-link {
  text-decoration: none;
}

#fahrenheit-link {
  text-decoration: none;
}

#description {
  text-transform: capitalize;
}

.description-humidity-wind {
  position: relative;
  padding-top: 80px;
}

#github-link {
  font-family: "Roboto Mono", monospace;
}
